[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
fastapi = "*"
uvicorn = "*"
python-dotenv = "*"
langchain = "*"
langchain-openai = "*"
langchain-groq = "*"
langchain-community = "*"
langgraph = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.11"
